.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: rgba(0, 27, 0, 0.3);
  color: white;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;

  /* IMAGES */
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;

  &:nth-child(1) {
    background-image: url(../../../../assets/images/fastDelivery.jpg);
  }
  &:nth-child(2) {
    background-image: url(../../../../assets/images/reliable.jpg);
  }
  &:nth-child(3) {
    background-image: url(../../../../assets/images/statusUpdate.jpg);
  }
  &:nth-child(4) {
    background-image: url(../../../../assets/images/chat.jpg);
  }

  > div {
    background: linear-gradient(to right, green, var(--bg-color-grid));
    padding: 0.3rem;
    font-size: clamp(1.4rem, 6vw, 1.8rem);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: 0.3rem;
  }
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
